.add-press-category-container{
  .mat-form-field{
    width: 100%;
  }
  .image-name {
    display: inline-block;
    vertical-align: middle;
  }
  .image-button {
    border-color: red;
    color: red;
  }

  // .quill-editor {
  //   min-height: 16em;
  //   max-height: 20em;
  //   overflow-y: auto;
  // }

}
