.add-blog-container{
  padding: 30px;
  .custom-header{
    display: block;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0.5rem;
  }
  .mat-form-field{
    width: 100%;
  }
  .ql-editor{
    background: #fff;
  }
  .image-name {
    display: inline-block;
    vertical-align: middle;
  }
  .image-button {
    border-color: red;
    color: red;
  }
  .upload-btn{
    width: 118px;
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
    .upload-input{
      // font-size: 999px;
      filter: alpha(opacity=0);
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      position: absolute;
      // right: 0;
      top: 0;
      cursor: pointer;
    }
    button{
      background: #fff;
      padding: 10px;
      box-shadow: none;
      border: 1px solid #ccc;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      font-size: 16px;
    }
  }
  // .quill-editor {
  //   min-height: 16em;
  //   max-height: 20em;
  //   overflow-y: auto;
  // }
  .post-btn{
    margin-top: 0.5rem;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    max-width: 340px;
    .add-btn{
      margin: 5px;
    }
  }
}
