<section class="favorite-list-section">
    <div class="pb-table">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="favDataSource" class="w-100">
            <ng-container matColumnDef="first_name">
              <th mat-header-cell *matHeaderCellDef>ServiceGiver Name</th>
              <td mat-cell *matCellDef="let fav">{{ fav.sevice_provider.name }}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let fav">{{ fav.sevice_provider.address1 }}</td>
              </ng-container> -->
              <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef >Email</th>
                  <td mat-cell *matCellDef="let fav">{{ fav.sevice_provider.email }}</td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef >Phone</th>
                    <td mat-cell *matCellDef="let fav">{{ fav.sevice_provider.mobile }}</td>
                  </ng-container>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef>Created On</th>
                <td mat-cell *matCellDef="let fav">{{ fav.created_at | date:'yyyy-MM-dd'}}</td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="favDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: favDisplayedColumns"></tr>
          </table>
          <div class="no-records" *ngIf="FAV_TABLE_DATA?.length === 0">
            No records found
          </div>
        </div>
      </div>
</section>
