<div class="login-component">
  <mat-card class="mat-card">
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <img src="./assets/logo-blue.png" width="200px"/>
      <mat-card-title>
        <div>
            <img src="./assets/circled-user-male.png" width="100px"/>
        </div>
        <mat-label>ADMIN LOGIN</mat-label>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <!-- <mat-icon matPrefix color="primary">email</mat-icon> -->
          <mat-label>Email ID</mat-label>
          <input type="text" matInput formControlName="email" name="email" id="useremail" autocomplete="off" autofocus>
          <mat-error *ngIf="userEmail.hasError('required')">
            Email ID is required
          </mat-error>
          <mat-error *ngIf="userEmail.hasError('email')">
            Email must be a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <!-- <mat-icon matPrefix color="primary">lock</mat-icon> -->
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" name="password" id="password" autocomplete="off">
          <mat-error *ngIf="userPassword.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer>
          <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
          <!-- <div class="forgot_pwd">
            <a>Forgot Password?</a>
          </div> -->
      </mat-card-footer>
    </form>
  </mat-card>
</div>
