<div class="pb-lost-found-list-component custom-padding">
  <mat-nav-list class="custom-nav-list">
    <mat-label>
      <a [routerLink]="['/lost-and-found']">Lost & Found</a>
    </mat-label>
    <mat-label>></mat-label>
    <mat-label>List</mat-label>
  </mat-nav-list>
  <div class="pb-table-wraper">
    <div class="filter-section" [class.opened]="searchPanel">
      <form #searchUser="ngForm" (submit)="getUsers()">
        <div class="listing-form d-flex justify-content-between align-items-center">
          <div class="search-box">
            <mat-form-field class="mat-form-field">
              <mat-label>Search</mat-label>
              <input matInput name="search" [(ngModel)]="tableConfig.searchString" />
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" class="search-btn">Search</button>
          </div>

          <div class="right-side-btn d-flex align-items-center">
            <div class="status-div">
              <!-- <button mat-raised-button [routerLink]="['/user', 'add']" color="primary" class="add-btn" disabled>New</button> -->
            </div>
            <div class="filter-btn">
              <button mat-raised-button color="primary" type="button" class="filter-list-icon"
                      (click)="searchPanel = !searchPanel">Filter
              </button>
            </div>
          </div>
        </div>
        <div class="advanced-search-form">
          <form class="search-form-padding">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput [(ngModel)]="filterName" name="filterName" />
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <mat-form-field>
                  <mat-label>Breed</mat-label>
                  <input matInput [(ngModel)]="filterBreed" name="filterBreed" />
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <mat-form-field>
                  <mat-label>Location</mat-label>
                  <input matInput [(ngModel)]="filterLocation" name="filterLocation" />
                </mat-form-field>
              </div>

              <div class="col-12 col-sm-6 col-md-4">
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <mat-select value="Select Gender" [(ngModel)]="filterGender" name="filterGender">
                    <mat-option value="Select Gender">
                      Select Gender
                    </mat-option>
                    <mat-option value="male">
                      Male
                    </mat-option>
                    <mat-option value="female">
                      Female
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <mat-form-field>
                  <mat-label>Pet Type</mat-label>
                  <mat-select value="Select Pet Type" [(ngModel)]="filterCategory" name="filterCategory">
                    <mat-option value="Select Pet Type">
                      Select Pet Type
                    </mat-option>
                    <mat-option *ngFor="let option of categoriesOpt" [value]="option.id">
                      {{option.type | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <mat-form-field>
									<mat-label>Choose a startdate</mat-label>
										<input matInput [matDatepicker]="picker1" [(ngModel)]="startDate" (ngModelChange)="changeStartDate();" name="startdate" disabled>
										<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker #picker1 disabled="false"></mat-datepicker>
								</mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <mat-form-field>
									<mat-label>Choose a enddate</mat-label>
									<input matInput [matDatepicker]="picker2" [min]="startDate" [(ngModel)]="endDate" name="enddate" disabled>
									<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
									<mat-datepicker #picker2 disabled="false"></mat-datepicker>
								</mat-form-field>
              </div>
            </div>
            <div class="advanced-search-btn">
              <button mat-raised-button type="submit" color="primary" class="search-btn" (click)="filterSearch();">Search</button>
              <button mat-raised-button type="button" color="warn" class="clear-btn" (click)="clearFilter();">Clear</button>
            </div>
          </form>
        </div>
      </form>
    </div>
    <div class="pb-table">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/lost-and-found/details/'+user.id]">
              <img class="img-size" *ngIf="user.image_url" src="{{originUrl}}/upload/{{user.image_url}}">
              <span *ngIf="!user.image_url">-</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/lost-and-found/details/'+user.id]" class="text-capitalize">
              <span *ngIf="user.name">{{user.name}}</span>
              <span *ngIf="!user.name">-</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="breed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="breed"> Breed </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/lost-and-found/details/'+user.id]" class="text-capitalize">
              <span *ngIf="user.breed">{{user.breed}}</span>
              <span *ngIf="!user.breed">-</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="address"> Location </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/lost-and-found/details/'+user.id]" class="text-capitalize">
              <span *ngIf="user.address">{{user.address}}</span>
              <span *ngIf="!user.address">-</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="gender"> Gender </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/lost-and-found/details/'+user.id]" class="text-capitalize">
              <span *ngIf="user.gender">{{user.gender}}</span>
              <span *ngIf="!user.gender">-</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="pet_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="pet_type"> Pet Type </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/lost-and-found/details/'+user.id]" class="text-capitalize">
              <span *ngIf="user.pet_type">{{user.pet_type}}</span>
              <span *ngIf="!user.pet_type">-</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="type"> Status </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/lost-and-found/details/'+user.id]" class="text-capitalize">
              <span *ngIf="user.type">{{user.type}}</span>
              <span *ngIf="!user.type">-</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="view(user)">View</button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="appMenu"
                (click)="$event.preventDefault(); $event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <!--(click)="edit(row)"-->
        </table>
        <div class="no-records" *ngIf="TABLE_DATA?.length === 0">
          No records found
        </div>
        <mat-paginator class="mat-paginator-sticky" [length]="tableConfig.totalRecords" [pageSizeOptions]="[10, 20, 30]"
          showFirstLastButtons (page)="pageChanged($event)">
        </mat-paginator>
        <!-- </form> -->
      </div>
      <!-- <mat-paginator class="mat-paginator-sticky" [length]="tableConfig.totalRecords" [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons (page)="pageChanged($event)">
      </mat-paginator> -->
    </div>
  </div>
</div>
  <div class="isLoading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
