<div class="pb-topics-list-component custom-padding">
  <mat-nav-list class="custom-nav-list">
    <mat-label>
      <a [routerLink]="['/topics']">Help Topics</a>
    </mat-label>
    <mat-label>></mat-label>
    <mat-label>List</mat-label>
  </mat-nav-list>
  <div class="pb-table-wraper">
    <div class="filter-section" [class.opened]="searchPanel">
      <form #searchUser="ngForm" (submit)="gettopicsList()">
        <div class="listing-form d-flex justify-content-between align-items-center">
          <div class="search-box">
            <mat-form-field class="mat-form-field">
              <mat-label>Search</mat-label>
              <input matInput name="search" [(ngModel)]="tableConfig.searchString" />
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" class="search-btn">Search</button>
          </div>
          <div class="right-side-btn d-flex align-items-center">
            <div class="add-div">
              <button mat-raised-button [routerLink]="['/topics', 'add']" color="primary" class="add-btn">Add
                Topics</button>
            </div>
            <div class="filter-btn">
              <button mat-raised-button color="primary" type="button" class="filter-list-icon"
              (click)="searchPanel = !searchPanel">
                Filter
              </button>
            </div>
          </div>
        </div>
        <div class="advanced-search-form">
					<form class="search-form-padding">
						<div class="row">
							<div class="col-12 col-sm-6 col-md-4">
								<mat-form-field>
									<mat-label>Topic</mat-label>
									<input matInput [(ngModel)]="filterTopic" name="filterTopic" />
								</mat-form-field>
              </div>
							<div class="col-12 col-sm-6 col-md-4">
								<mat-form-field>
									<mat-label>Status</mat-label>
									<mat-select value="Select status" [(ngModel)]="selectedStatus" name="selectedStatus">
										<mat-option value="Select status">
											Select status
										</mat-option>
										<mat-option value="true">
											Active
										</mat-option>
										<mat-option value="false">
											Inactive
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="advanced-search-btn">
							<button mat-raised-button type="submit" color="primary" class="search-btn" (click)="gettopicsList();">Search</button>
							<button mat-raised-button type="button" color="warn" class="clear-btn" (click)="clearFilter();">Clear</button>
						</div>
					</form>
				</div>
      </form>
    </div>
    <div class="pb-table">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">


          <!-- Height Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Topic</th>
            <td mat-cell *matCellDef="let topics">
              <span *ngIf="topics?.topics_ibfk_1?.name && topics?.name">{{topics?.topics_ibfk_1?.name}}</span>
              <span *ngIf="!topics?.topics_ibfk_1?.name && topics?.name">{{topics.name}}</span>
              <span *ngIf="!topics?.topics_ibfk_1?.name && !topics?.name">-</span>

            </td>
          </ng-container>

          <!-- Height Column -->
          <ng-container matColumnDef="subcategory">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="subName">Sub Topic</th>
            <td mat-cell *matCellDef="let topics">
              <span *ngIf="topics?.name && topics?.topics_ibfk_1?.name">{{topics?.name}}</span>
              <span *ngIf="!topics?.topics_ibfk_1?.name">-</span>
            </td>
          </ng-container>

          <!-- Height Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
            <td mat-cell *matCellDef="let topics"> {{ topics.status === true ? 'Active' : 'Inactive' }}</td>
          </ng-container>

          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at">Created On</th>
            <td mat-cell *matCellDef="let topics">{{ topics?.created_at | date: 'MM-dd-yyyy' }}</td>
          </ng-container>




          <button matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let topics">
              <mat-menu #appMenu="matMenu">
                <!-- <button mat-menu-item (click)="view(topics)">View</button> -->

                <button mat-menu-item
                  (click)="openDialog(topics)">{{topics.status === false ? 'Active' : 'Inactive'}}</button>
                <!-- <button mat-menu-item *ngIf="user['fk_user_role.type'] === 'service-provider' && user.admin_verified === 'NotNeeded'" (click)="approveRejectUser(user, 'Reject')">Reject</button> -->
                <button mat-menu-item (click)="edit(topics)">Edit</button>

              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="appMenu"
                (click)="$event.preventDefault(); $event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </button>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="view(row)"></tr>
          <!--(click)="edit(row)"-->
        </table>
        <div class="no-records" *ngIf="TABLE_DATA?.length === 0" >
          No records found
          </div>
        <mat-paginator class="mat-paginator-sticky" [length]="tableConfig.totalRecords" [pageSizeOptions]="[10, 20, 30]"
          showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>
      </div>
    </div>
  </div>
</div>
<div class="isLoading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
