<div class="pb-booking-service-list-component custom-padding">
    <mat-nav-list class="custom-nav-list">
        <mat-label>
            <a [routerLink]="['/bookingservice']">Booking Service</a>
        </mat-label>
        <mat-label>></mat-label>
        <mat-label>List</mat-label>
    </mat-nav-list>
    <div class="pb-table-wraper">
        <div class="filter-section" [class.opened]="searchPanel">
            <form #searchUser="ngForm" (submit)="getUsers()">
              <div class="listing-form d-flex justify-content-between align-items-center">
                <div class="search-box">
                    <mat-form-field class="mat-form-field">
                        <mat-label>Search</mat-label>
                        <input matInput name="search" [(ngModel)]="tableConfig.searchString" />
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" class="search-btn">Search</button>
                </div>
                <div class="right-side-btn d-flex align-items-center">
                  <!-- <div class="status-div">
                      <button mat-raised-button [routerLink]="['/user', 'add']" color="primary" class="add-btn" disabled>New</button>
                  </div> -->
                  <div class="filter-btn">
                    <button mat-raised-button color="primary" type="button" class="filter-list-icon"
                            (click)="searchPanel = !searchPanel">Filter
                    </button>
                  </div>
                </div>
              </div>
              <div class="advanced-search-form">
                <form class="search-form-padding">
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                      <mat-form-field>
                        <mat-label>Order Id</mat-label>
                        <input type="number" matInput [(ngModel)]="filterOrderId" name="filterOrderId" />
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                      <mat-form-field>
                        <mat-label>Pet Owner</mat-label>
                        <input matInput [(ngModel)]="filterPetOwner" name="filterPetOwner" />
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                      <mat-form-field>
                        <mat-label>Service Provider</mat-label>
                        <input matInput [(ngModel)]="filterServiceProvider" name="filterServiceProvider" />
                      </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4">
                      <mat-form-field>
                        <mat-label>Service Type</mat-label>
                        <mat-select value="Select Type" [(ngModel)]="filterServiceType" name="filterServiceType">
                          <mat-option value="Select Type">
                            Select Type
                          </mat-option>
                          <mat-option *ngFor="let option of categoriesOpt" [value]="option.id">
                            {{option.service_type | titlecase}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                      <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select value="Select Status" [(ngModel)]="filterStatus" name="filterStatus">
                          <mat-option value="Select Status">
                            Select Status
                          </mat-option>
                          <mat-option value="pending">Pending</mat-option>
                          <mat-option value="confirmed">Confirmed</mat-option>
                          <mat-option value="decline">Decline</mat-option>
                          <mat-option value="completed">Completed</mat-option>
                          <mat-option value="cancelled">Cancelled</mat-option>
                          <mat-option value="reschedule">Reschedule</mat-option>
                          <mat-option value="paid">Paid</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                      <mat-form-field>
                        <mat-label>Choose a startdate</mat-label>
                          <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate" (ngModelChange)="changeStartDate();" name="startdate" disabled>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                      <mat-form-field>
                        <mat-label>Choose a enddate</mat-label>
                        <input matInput [matDatepicker]="picker2" [min]="startDate" [(ngModel)]="endDate" name="enddate" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="advanced-search-btn">
                    <button mat-raised-button type="submit" color="primary" class="search-btn" (click)="filterSearch();">Search</button>
                    <button mat-raised-button type="button" color="warn" class="clear-btn" (click)="clearFilter();">Clear</button>
                  </div>
                </form>
              </div>
            </form>
        </div>
        <div class="pb-table">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="order_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> Order Id </th>
                        <td mat-cell *matCellDef="let user" [routerLink]="['/booking-service/details/'+user.id]">
                            <span *ngIf="user.order_id">{{user.order_id}}</span>
                            <span *ngIf="!user.order_id">-</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="pet_owner_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="pet_owner_name"> Pet Owner </th>
                        <td mat-cell *matCellDef="let user" [routerLink]="['/booking-service/details/'+user.id]"
                            class="text-capitalize">
                            <span *ngIf="user.pet_owner_name">{{user.pet_owner_name}}</span>
                            <span *ngIf="!user.pet_owner_name">-</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="service_provider_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="service_provider_name"> Service Provider </th>
                        <td mat-cell *matCellDef="let user" [routerLink]="['/booking-service/details/'+user.id]"
                            class="text-capitalize">
                            <span *ngIf="user.service_provider_name">{{user.service_provider_name}}</span>
                            <span *ngIf="!user.service_provider_name">-</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="service_type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="service_type_id"> Service Type </th>
                        <td mat-cell *matCellDef="let user" [routerLink]="['/booking-service/details/'+user.id]">
                            <span *ngIf="user.service_type">{{user.service_type}}</span>
                            <span *ngIf="!user.service_type">-</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let user" [routerLink]="['/booking-service/details/'+user.id]"
                            class="text-capitalize">
                            <span *ngIf="user.status">{{user.status}}</span>
                            <span *ngIf="!user.status">-</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at"> Date </th>
                        <td mat-cell *matCellDef="let user" [routerLink]="['/booking-service/details/'+user.id]">
                            <span *ngIf="user.created_at">{{user.created_at.split("T")[0] | date : 'dd/MM/yyyy'}}</span>
                            <span *ngIf="!user.created_at">-</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="view">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let user" [routerLink]="['/booking-service/details/'+user.id]">
                            <mat-menu #appMenu="matMenu">
                                <button mat-menu-item (click)="view(user)">View</button>
                            </mat-menu>
                            <button mat-icon-button [matMenuTriggerFor]="appMenu"
                                (click)="$event.preventDefault(); $event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <!--(click)="edit(row)"-->
                </table>
                <div class="no-records" *ngIf="TABLE_DATA?.length === 0">
                    No records found
                </div>
                <mat-paginator class="mat-paginator-sticky" [length]="tableConfig.totalRecords"
                    [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons (page)="pageChanged($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
<div class="isLoading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
