<section class="change-password-section custom-padding">
  <mat-nav-list class="custom-nav-list">
    <mat-label>
      <a [routerLink]="['/breed']">Account Setting</a>
    </mat-label>
    <mat-label>></mat-label>
    <mat-label>Change Password</mat-label>

  </mat-nav-list>


  <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)" class="custom-form-padding">

    <div class="col-12 col-sm-6 col-md-6">
      <mat-form-field>
        <input matInput placeholder="Old Password"  required minlength="6" maxlength="20"  autocomplete="off" autocapitalize="off"
          pattern="^\S*$" type="password"  name="oldpassword"  [(ngModel)]="changePasswordData.oldpassword"  #oldpassword="ngModel">
        <mat-error *ngIf="oldpassword?.errors?.minlength && (oldpassword.dirty || oldpassword.touched  || isSubmited)">
          Password is too short (minimum 6 characters)
        </mat-error>
        <mat-error *ngIf="oldpassword?.errors?.maxlength && (oldpassword.dirty || oldpassword.touched  || isSubmited)">
          Password is too long (maximum 20 characters)
        </mat-error>
        <mat-error *ngIf="oldpassword?.errors?.required  && (oldpassword.dirty || oldpassword.touched  || isSubmited) ">Password is required</mat-error>
        <mat-error *ngIf="oldpassword?.errors?.pattern && (oldpassword.dirty || oldpassword.touched  || isSubmited)">Password is invalid</mat-error>

      </mat-form-field>
    </div>


    <div class="col-12 col-sm-6 col-md-6">
      <mat-form-field>
        <input matInput placeholder="New Password" autocomplete="off" autocapitalize="off" required minlength="6" maxlength="20"  #password="ngModel" [(ngModel)]="changePasswordData.password"
          type="password" pattern="^\S*$"  name="changepassword">

          <mat-error  *ngIf="password?.errors?.minlength && (password.dirty || password.touched  || isSubmited)">
              Password is too short (minimum 6 characters)
            </mat-error>
            <mat-error  *ngIf="password?.errors?.maxlength && (password.dirty || password.touched  || isSubmited)">
              Password is too long (maximum 20 characters)
            </mat-error>
            <mat-error  *ngIf="password?.errors?.required && (password.dirty || password.touched  || isSubmited)">
              Password is required
            </mat-error>
            <mat-error  *ngIf="password?.errors?.pattern && (password.dirty || password.touched  || isSubmited)">
             Invalid password
            </mat-error>

      </mat-form-field>
    </div>



    <div class="col-12 col-sm-6 col-md-6">
      <mat-form-field class="full-width-input">
        <input matInput autocomplete="off" autocapitalize="off"  required minlength="6" maxlength="20"
          placeholder="Confirm password" type="password"  validateEqual="changepassword" name="confirompassword" [(ngModel)]="changePasswordData.cpassword" #cpassword="ngModel">

          <mat-error *ngIf="changePasswordData?.cpassword !== changePasswordData?.password && (cpassword?.dirty || cpassword.touched  || isSubmited)">
              Password does not match
            </mat-error>
          <mat-error *ngIf="cpassword?.errors?.minlength && (cpassword.dirty || cpassword.touched  || isSubmited)">
              Password is too short (minimum 6 characters)
            </mat-error>
            <mat-error *ngIf="cpassword?.errors?.maxlength && (cpassword.dirty || cpassword.touched  || isSubmited)">
              Password is too long (maximum 20 characters)
            </mat-error>
            <mat-error *ngIf="cpassword?.errors?.required && (cpassword.dirty || cpassword.touched  || isSubmited)">
              Password is required
            </mat-error>
            <mat-error *ngIf="cpassword?.errors?.pattern">
              Password is invalid
            </mat-error>


      </mat-form-field>
    </div>
    <div class="post-btn">
      <button mat-raised-button type="submit" color="primary" class="add-btn">Change Passoword</button>
      <button mat-raised-button type="button" color="warn"  class="add-btn"  [routerLink]="['/dashboard']">Cancel</button>
    </div>

  </form>
</section>
<div class="isLoading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
