<section class="reward-history-details-section custom-padding" *ngIf="fetchedRewardInfo">
  <h2 class="page-header"></h2>
  <mat-nav-list class="custom-nav-list">
    <mat-label>
      <a [routerLink]="['/reward-history']">Reward History</a>
    </mat-label>
    <mat-label>></mat-label>
    <mat-label>View Reward History</mat-label>
  </mat-nav-list>

  <!-- <label class="custom-header">View Contact Us</label> -->

  <form #contactUsForm="ngForm" novalidate class="custom-form-padding">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <mat-form-field>
          <input matInput placeholder="Event" [(ngModel)]="fetchedRewardInfo['event_name']" name="topic"
            disabled="true" disabled="true">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-6 col-md-6">
        <mat-form-field>
          <input matInput placeholder="User" name="username" [(ngModel)]="fetchedRewardInfo['user.name']"
            disabled="true">
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-6 col-md-6">
        <mat-form-field>
          <input matInput placeholder="Points" name="points"
            [(ngModel)]="fetchedRewardInfo['event_amount']" disabled="true">
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-6 col-md-6">
        <mat-form-field>
          <input matInput placeholder="Type" name="event_type"
            [(ngModel)]="fetchedRewardInfo['type']" disabled="true">
        </mat-form-field>
      </div>



      <div class="col-12">
        <mat-form-field>
          <textarea cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10" matInput
             [disabled]="true" placeholder="Description" [(ngModel)] ="fetchedRewardInfo['event_description']"
             name="description" ></textarea>
          <label class="d-flex align-items-center mb-0 mt-2" *ngIf="!fetchedRewardInfo['event_description']">
            NA
          </label>
        </mat-form-field>
      </div>

    </div>
    <div class="post-btn">
      <button mat-raised-button type="submit" color="warn" class="add-btn"
        [routerLink]="['/reward-history/list']">Close</button>
    </div>

  </form>
</section>
<div class="isLoading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
