.add-review-container {
    .mat-form-field {
        width: 100%;
    }
    .rating-label {
        display: block;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0 !important;
    }
}
