.rates-services-section{
  .mat-expansion-panel-header{
    // min-height: 48px !important;
    // height: 64px !important;
  }
  .col-1{
    flex: 1 1 100px !important;
    margin-right:16px !important;
    max-width: 100px !important;
    width: 100px !important;
  }
}
