.dashboard-wrapper {
    .chart-legend{
      display: inline-block;
      padding: 0;
      width: auto !important;
      height: 180px;
      position: absolute;
      right: 10%;
      // top: 0;
      // bottom: 0;
      // margin: auto;
    }
    .chart-legend .legend-labels {
      width: 100px
    }
    tr, td, th {
      cursor: default !important;
    }
    .custom-card{
      text-align: center;
      // min-height: 130px;      
      max-height: 400px;
      display: flex;
      align-items: center;
      flex-flow: column;
      justify-content: center;
      border-radius: 8px;
      margin-bottom: 1rem;
      color:#fff;
      box-shadow: 0  0 5px rgba(0, 0, 0, 0.3), 0 7px 6px rgba(0, 0, 0, 0.22);
      .mat-elevation-z8{
        box-shadow: 0  0 5px rgba(0, 0, 0, 0.3), 0 7px 6px rgba(0, 0, 0, 0.22) !important;
      }
      .data-table{
        max-height: 350px;
        overflow: auto;
        th.mat-header-cell{
          text-align: center;
        }
      }
      h3{
        font-size: 12px;
      }
      label{
        font-size: 34px;
      }
      .mat-card-header{
        padding: 7px 0 !important;
        background: #00bcd4;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      .mat-card-content{
        width: 100%;
        padding: 0 10px;
        .mat-table{
          tr{
            th{
              text-align: left;
              padding: 0 10px;
              color: rgba(0, 0, 0, 0.87);
              font-size: 14px;
            }
            td{
              text-align: left;
              padding: 0 10px;
              color: rgba(65, 65, 65, 0.99);
              font-size: 13px;
              max-width: 65px;
              text-overflow: ellipsis;
            }
            .cust-width-th{
              width: 5%;
            }
          }
        }
      }
      .custom-card-content{
        width: 100%;
        height: 300px;
        max-width: 100%;
      }
      &.custom-bg{
        background: #fff;
        label{
          color: #262647;
        }
        h3{
          color: #8b8888;
        }
      }
    }
    // .user-reg-card table tr td:nth-child(2), .user-reg-card table tr td:nth-child(3){
    //   padding: 0 10px;
    // }
}
