<div class="pb-emailTemplateData-list custom-padding">
    <mat-nav-list class="custom-nav-list">
      <mat-label>
        <a [routerLink]="['/emailTemplateData']">Email Template</a>
      </mat-label>
      <mat-label>></mat-label>

      <mat-label>List</mat-label>
    </mat-nav-list>
    <div class="pb-table-wraper">
      <div class="filter-section">
        <form #searchEmailTemplate="ngForm" (submit)="getEmailTemplates()">
          <div class="listing-form d-flex justify-content-between align-items-center">
            <div class="search-box">
              <mat-form-field class="mat-form-field">
                <mat-label>Search</mat-label>
                <input matInput name="search" [(ngModel)]="tableConfig.searchString" />
                <!--
                <mat-error *ngIf="login_id.hasError('required')">
                  Login ID is <strong>required</strong>
                </mat-error>
              -->
                <!-- <mat-icon class="settings-icon unselectable">search</mat-icon> -->
              </mat-form-field>
              <button mat-raised-button type="submit" color="primary" class="search-btn">Search</button>
            </div>

            <div class="add-div">
                <button mat-raised-button [routerLink]="['/email-template', 'add']" color="primary" class="add-btn">Add Email Template</button>
              </div>
          </div>
        </form>
      </div>
      <div class="pb-table">
        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource" matSort>


            <!-- Topic Column -->
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Key</th>
              <td mat-cell *matCellDef="let emailTemplateData">
                <span *ngIf="emailTemplateData.email_key">{{emailTemplateData.email_key}}</span>
                <span *ngIf="!emailTemplateData.email_key">-</span>
              </td>
            </ng-container>




            <!-- Sub Topic Column -->
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Subject</th>
              <td mat-cell *matCellDef="let emailTemplateData">
                <span *ngIf="emailTemplateData?.subject">{{emailTemplateData?.subject}}</span>
                <span *ngIf="!emailTemplateData?.subject">-</span>
              </td>
            </ng-container>


          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let emailTemplateData">{{ emailTemplateData.status === true ? 'Active' : 'Inactive' }}</td>
            </ng-container>






            <!-- Star Column -->
            <ng-container matColumnDef="menu">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let emailTemplateData">
                <mat-menu #appMenu="matMenu">
                  <!-- <button mat-menu-item *ngIf="emailTemplateData.is_active === true" (click)="activateDeactivateEmailTemplate(emailTemplateData, 'Active')">Active</button>
                    <button mat-menu-item *ngIf="emailTemplateData.is_active === false" (click)="activateDeactivateEmailTemplate(emailTemplateData, 'Deactive')">Deactive</button>
                    <button mat-menu-item *ngIf="emailTemplateData['fk_user_role']['type'] === 'service-provider' && emailTemplateData.admin_verified === 'NA' && emailTemplateData.is_verified === true && emailTemplateData.answers && emailTemplateData.answers.length > 0" (click)="approveRejectEmailTemplate(emailTemplateData, 'Approve')">Approve</button> -->
                  <!-- <button mat-menu-item *ngIf="user['fk_user_role.type'] === 'service-provider' && user.admin_verified === 'NotNeeded'" (click)="approveRejectUser(user, 'Reject')">Reject</button> -->
                  <button mat-menu-item (click)="viewDetail(emailTemplateData)">View</button>
                  <button mat-menu-item (click)="edit(emailTemplateData)">Edit</button>
                  <button mat-menu-item (click)="updateEmailTemplate(emailTemplateData)" *ngIf="emailTemplateData?.status">Deactive</button>
                  <button mat-menu-item (click)="updateEmailTemplate(emailTemplateData)" *ngIf="!emailTemplateData?.status">Active</button>

                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="appMenu"
                  (click)="$event.preventDefault(); $event.stopPropagation()">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="viewDetail(row)"></tr>
          </table>
          <div class="no-records" *ngIf="TABLE_DATA?.length === 0">
            No records found
          </div>

          <mat-paginator class="mat-paginator-sticky" [length]="tableConfig.totalRecords" [pageSizeOptions]="[10, 20, 30]"
            showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <div class="isLoading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
